################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/MyTreeView/.vs/MyTreeView/FileContentIndex/4068c547-d423-4cbb-8af6-3404304bb4eb.vsidx
/MyTreeView/.vs/MyTreeView/FileContentIndex/9384815d-3140-4cf2-9e40-04dbfd5cd509.vsidx
